extends layout

block content
    h1= title

    #scoreboard
        span#score= "Puntuació: 0"
        br
        span#deaths= "Morts: 0"
        br
    ol#top(type="1", hidden) Top10:

    #container
        canvas#map(width="500", height="500")


