body {
    background-color: #fff;
    color: #222;
}

h1 {
    font-weight: bold;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

#top {
    float: left;
    margin: 5%;
}

#scoreboard {
    float: left;
    margin: 5%;
    padding-bottom: 5px;
}

#container {
    text-align: center;
}

#map {
    float: right;
    display: block;
    margin: 5%;
}